.*
!.gitignore
*.Rdata
*.feather
*.png
*.html
*-concordance.tex
*.aux
*.log
*.out
*.lof
*.fls
*.fdb_latexmk
*.blg
*.bcf
*.toc
*.xml
*.gz
*.lot
*.lb
*_pid
*.sty
*.bbl
*.pdf
extras/
results/
data/
figure/
cache/