.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
crt-simulation.html
reinforcement-cancer-clinical-trials.pdf
reinforcement-cancer-clincial-trials-notes.html
thesis.Rproj
fig2.png
book2015oct.pdf
rl_sutton_solutions_manual.pdf
rl-c1-the-reinforcement-learning-problem.pdf
rl-c2-multi-arm-bandits.pdf
rl-c3-finite-markov-decision-processes.pdf
rl-c4-dynamic-programming.pdf
rl-c5-monte-carlo-methods.pdf
rl-c6-temporal-difference-learning.pdf
rl-c7-eligibility-traces.pdf
rl-fm.pdf
Biometrika-2015-Laber-tree-based-treatment.pdf
Reinforcement-Learning-trees.pdf
thesis.md
added.md
terms.md
/supporting-literature/bio-laber.md
/supporting-literature/reinforcement-learning-trees.md
ERT.html
13_reinforcementlearning.pdf
homework_reinforcementlearning.pdf
iqLearn.pdf
